.Project {
  border: .1em solid black;
  border-radius: .75em;
  padding: 1%;
  margin-bottom: 3%;

}

.project-title {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid black;
  width: 50%;
  font-size: 1.2em;
}

.project-header {
  margin: 0 auto;
  text-align: center;
}

.project-image {
  padding-top: 2%;
  max-width: 100%;
}

.github-icon {
  font-size: 1.35em;
}

.github-link {
  color: black;
  text-decoration: none;
  color: #fc6c0c;
}

.github-link:hover {
  border-bottom: #fc6c0c 2px solid;
}
